.welcome {
    background-color: lightblue;
    border: 5px solid black;
    padding: 15px;
}

.container{
    background-color: white;
    border: 5px solid red;
    height: 100px;
    width: 250px;
}